{% extends 'front/master.html'%}
{% load static %}


{% block mainblock %}

<!--SE2 AREA-->
    <div class="SE2__wrapper">
      <div class="SE2__container">
        <div class="SE2icon__container">
          <i class="fa fa-star"></i>
        </div>
        <p class="SE2__tag">Huge Consumer Base</p>
      </div>

      <div class="SE2__container">
        <div class="SE2icon__container">
          <i class="fa fa-bus"></i>
        </div>
        <p class="SE2__tag">Service guarantee</p>
      </div>

      <div class="SE2__container">
        <div class="SE2icon__container">
          <i class="fa fa-map-marker"></i>
          <!-- <span class="material-icons"> person_pin_circle </span> -->
        </div>
        <p class="SE2__tag">Live Tracking & 24/7 Support</p>
      </div>

      <div class="SE2__container">
        <div class="SE2icon__container">
          <i class="fa fa-star"></i>
        </div>
        <p class="SE2__tag">Logistics Insurance cover</p>
      </div>
    </div>
<!--SE2 AREA END-->

<!--SE3 AREA-->
    <div class="SE3">
      <h2>Our Transport Expertise</h2>
      <div class="SE3__wrapper">
        <div class="SE3__Container">
          <div class="SE3__img SE3__img1">
            <!-- <img src="img/expertise1.png" alt="expertise1" /> -->
          </div>
          <div class="SE3__tag">
            <p>Full Truck Load</p>
          </div>
        </div>
        <div class="SE3__Container">
          <div class="SE3__img SE3__img2">
            <!-- <img src="img/expertise2.png" alt="expertise2" /> -->
          </div>
          <div class="SE3__tag">
            <p>Part Truck Load</p>
          </div>
        </div>
        <div class="SE3__Container">
          <div class="SE3__img SE3__img3">
            <!-- <img src="img/expertise3.png" alt="expertise3" /> -->
          </div>
          <div class="SE3__tag">
            <p>Door to Door Parcel Part load Service</p>
          </div>
        </div>
      </div>
    </div>
<!--SE3 AREA END-->

<!--SE5 AREA-->
    <div class="SE5">
      <h2 class="SE5__heading">Our Advantages</h2>
      <div class="SE5__wrapper">
        <div class="SE5__conteiner1">
          <div class="SE5__subcontainer SE5__subcontainer1">
            <div class="SE5__icon SE5__icon1">
              <i class="fa fa-star"></i>
            </div>
            <div class="SE5__text SE5__text1">
              <h4>Full Load Services</h4>
              <p>
                We provide Full Truck load transportation services with varied
                type of trucks available with the click of a button.
              </p>
            </div>
          </div>
          <div class="SE5__subcontainer SE5__subcontainer2">
            <div class="SE5__icon SE5__icon2">
              <i class="fa fa-star"></i>
            </div>
            <div class="SE5__text SE5__text2">
              <h4>Transparent Pricing</h4>
              <p>
                With our fare calculator, we instantaneously give you best
                possible rates online.
              </p>
            </div>
          </div>
          <div class="SE5__subcontainer SE5__subcontainer3">
            <div class="SE5__icon SE5__icon3">
              <i class="fa fa-star"></i>
            </div>
            <div class="SE5__text SE5__text3">
              <h4>Quick & Easy Portal</h4>
              <p>
                Hiring a truck is now just a click away, through our hassle free
                online booking system.
              </p>
            </div>
          </div>
        </div>
        <div class="SE5__conteiner2">
          <img src="/static/front/img/se5img/mob4.png" alt="sendmustuff-mobile" />
        </div>
        <div class="SE5__conteiner3">
          <div class="SE5__subcontainer SE5__subcontainer4">
            <div class="SE5__text SE5__text4">
              <h4>Advance Booking</h4>
              <p>
                Our vehicle availability is guaranteed on daily/weekly/monthly
                basis to ensure on-time reporting.
              </p>
            </div>
            <div class="SE5__icon SE5__icon4">
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="SE5__subcontainer SE5__subcontainer5">
            <div class="SE5__text SE5__text5">
              <h4>Live Tracking</h4>
              <p>
                Get real time updates of your goods with our simplified
                technology.
              </p>
            </div>
            <div class="SE5__icon SE5__icon5">
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="SE5__subcontainer SE5__subcontainer6">
            <div class="SE5__text SE5__text6">
              <h4>24/7 Service</h4>
              <p>
                TruckGuru is dedicated to provide exceptional customer support
                over the Phone & Live Chat.
              </p>
            </div>
            <div class="SE5__icon SE5__icon6">
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--SE5 AREA END-->

    <!--ABOUT AREA-->
    <!--ABOUT AREA END-->

    <!--SERVICE AREA-->
    <section class="service-area">
        <div class="service-top-area padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                        <div class="area-title text-center wow fadeIn">
                            <h2>Our Service</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <div class="service-content wow fadeIn">
                            <h2>we offer quick & powerful logistics solution</h2>
                            <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.</p>
                            <a href="service.html" class="read-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="service-catalouge-content-area wow fadeIn">
                            <div class="service-catalouge-bg"></div>
                            <div class="row">
                                <img src="{% static 'front/img/se6img/boxes.png' %}">
<!--                                <div class="col-md-7 col-lg-7 col-md-offset-5 col-lg-offset-5 col-sm-12 col-xs-12">-->
<!--                                    <div class="catalouge-content">-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE AREA END-->



<!--SE6 AREA-->
    <div class="SE6 SE6__bg">
        <br/>
      <h2 class="SE6__heading">How it Works ?</h2>
      <div class="SE6__wrapper">
        <div class="SE6__Container">
          <div class="SE6__icon SE6__icon1">
            <!-- <img src="img/expertise1.png" alt="expertise1" /> -->
            <i class="fa fa-book"></i>
          </div>
          <div class="SE6__tag">
            <p>Book Your Truck Through Website</p>
          </div>
        </div>

        <div class="SE6__Container">
          <div class="SE6__icon SE6__icon1">
            <!-- <img src="img/expertise1.png" alt="expertise1" /> -->
            <i class="fa fa-star"></i>
          </div>
          <div class="SE6__tag">
            <p>Our System Finds Nearest Truck For You</p>
          </div>
        </div>

        <div class="SE6__Container">
          <div class="SE6__icon SE6__icon1">
            <!-- <img src="img/expertise1.png" alt="expertise1" /> -->
            <i class="fa fa-paste"></i>
          </div>
          <div class="SE6__tag">
            <p>Hassle Free Paperwork</p>
          </div>
        </div>
      </div>
        <br/><br/>

    </div>
<!--SE6 AREA END-->


    <!--TESTMONIAL AREA -->
    <section class="testmonial-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>what client’s say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <div class="client-photo-list wow fadeIn">
                        <div class="client_photo">
                            <div class="item">
                                <img src="{% static 'front/img/testmonial/1.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'front/img/testmonial/2.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'front/img/testmonial/3.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="client_nav">
                        <span class="fa fa-angle-left testi_prev"></span>
                        <span class="fa fa-angle-right testi_next"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                    <div class="client-details-content wow fadeIn">
                        <div class="client_details">
                            <div class="item">
                                <q>extremely professional service. Delivered the good before time. </q>
                                <h3>Ruchita Patel</h3>
                            </div>
                            <div class="item">
                                <q>The Best Transport Service Providers in Town.Satisfied With The Door Step Service. </q>
                                <h3>Harshil Katira</h3>
                            </div>
                            <div class="item">
                                <q>The tracking support works in a flawless manner enabling me to keep the record of my cargo.</q>
                                <h3>Rohan Shah</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TESTMONIAL AREA END -->

{% endblock %}