.SE5 {
  margin: 150px 100px;
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
    .SE5 {
        margin: 50px auto;
    }
}

.SE5 h2.SE5__heading {
  font-family: "Rubik", sans-serif;
  text-align: center;
/*  margin-top:150px; */
    margin-bottom: 50px;
}

.SE5__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr 360px 1fr);
  /* background-color: #c9dee2; */
  column-gap: 0px;
  row-gap: 10px;
}

.SE5__wrapper .SE5__conteiner1 {
  /* background-color: rgba(0, 0, 255, 0.575); */
  text-align: right;
  color: rgb(54, 50, 50);
}

.SE5__wrapper .SE5__conteiner2 {
  /* background-color: rgba(0, 128, 0, 0.61); */
  text-align: center;
}

.SE5__wrapper .SE5__conteiner3 {
  /* background-color: rgba(0, 0, 255, 0.575); */
    text-align: left;
  color: rgb(54, 50, 50);
}

.SE5__conteiner1 .SE5__subcontainer,
.SE5__conteiner3 .SE5__subcontainer {
  margin: 45px auto;
  margin-bottom: 65px;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
}

.SE5__subcontainer .SE5__icon {
  flex: 1;
  text-align: center;
}

.SE5__subcontainer .SE5__icon i {
  font-size: 78px;
}

.SE5__subcontainer .SE5__text {
  flex: 2;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}

.SE5__subcontainer .SE5__text h3 {
  /* font-family: "Kufam", cursive; */
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
/*  font-size: 26px; */
}

.SE5__subcontainer .SE5__text p {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Kufam", cursive;
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .SE5__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .SE5__conteiner2 {
    display: none;
  }

  .SE5__conteiner1 .SE5__subcontainer,
  .SE5__conteiner3 .SE5__subcontainer {
    margin: auto 20px;
    margin-bottom: 15px;
    /* box-sizing: border-box; */
    display: flex;
  }

  .SE5__wrapper .SE5__conteiner1 {
    /* background-color: rgba(0, 0, 255, 0.575); */
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .SE5__wrapper {
    display: grid;
    grid-template-columns: repeat(1fr);
  }

  .SE5__conteiner2 {
    display: none;
  }

  .SE5__conteiner1 .SE5__subcontainer,
  .SE5__conteiner3 .SE5__subcontainer {
    margin-bottom: 15px;
/*    margin-left: 20px;
    margin-right: 20px; */
    /* box-sizing: border-box; */
    display: flex;
    flex-direction:column;
    text-align:center;
  }

  .SE5__wrapper .SE5__conteiner1 {
    /* background-color: rgba(0, 0, 255, 0.575); */
    text-align: left;
  }

  .SE5__conteiner3 .SE5__subcontainer .SE5__icon {
        order: 1;
  }

    .SE5__conteiner3 .SE5__subcontainer .SE5__text {
        order: 2;
  }
}
